<!DOCTYPE html>
<header class="bar bar-nav">
  <h1 class='title'>商店列表</h1>
  <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
     <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
    <script type="text/javascript" src="../js/shop/shopedit.js"></script>
</header>
<div class="content">
  <div class="content-block">
  	<p>
  		你好,<span id="user-name"></span><a class="pull-right" href="/shopadmin/shopoperation">增加店铺</a>
    <div class="row row-shop">
      <div class="col-40">商店名称</div>
      <div class="col-40">状态</div>
      <div class="col-20">操作</div>
    </div>
    <div class="shop-wrap"></div>
  </div>
  <div class="content-block">
  	<div class="row">
      <div class="col-50">
      	<a href="#" id="log-out" class="button button-big button-fill button-danger">退出系统</a>
      </div>
      <div class="col-50">
      	<a href="#" id="bindOrChange" class="button button-big button-fill button-success">修改密码</a>
      </div>
    </div>
  </div>
</div>